# MATLAB / Simulink
*.asv
*.autosave
*~
*.slxc
slprj/
*.mex*
*.tmp

# Compilation Artifacts
*.o
*.obj
*.elf
*.mot
*.map

# Editor / OS
.DS_Store
Thumbs.db

# Scratch and intermediate RTW files
scratch/
*.rtw
rtwgen_tlc/
